#physics{
    margin-left: 80px;
    text-decoration: underline;
    color: #2E3D49;
}
#chemistry{
    margin-left: 80px;
    text-decoration: underline;
    color: #2E3D49;
}
#maths{
    margin-left: 80px;
    text-decoration: underline;
    color: #2E3D49;
}
