*{margin: 0;}

.header {
    background: rgba(46, 46, 45, 0.708);
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #66d9ef;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    background: #4b4bf5;
    color: white;
    padding: 8px;
    border: 0;
    width: 70px;
    border-radius: 20px;
}

.output {
        padding: 4px;
        border: 2px solid gray;
        min-height: 100px;
        width: 99%;
        resize: none;

}
.languages{
    border-radius: 10px;
}